@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inconsolata', monospace;
    src: url("https://fonts.google.com/specimen/Macondo");
}
*{
    font-family: 'Inconsolata', monospace;
}